\#*
*.swp
*~
*.c
*.h
*.data
*.o
*.a
*.fas
*.fasb
*.fasl
*.lx32fsl
*.lx64fsl
*.wx32fsl

.meta

# win32
*.exe
*.dll
*.manifest
*.lib
*.implib
*.exp
*.obj
*.ilk
*.pdb

apps/help-cp1251.lisp

comdb
comdb-ru
common-db-mono
flasher
helpfn
